<div *ngIf="currentEntity.relatedProducts && currentEntity.relatedProducts.length === 0" fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
    <span class="no-todos-text hint-text">Opportunity has no items!</span>
</div>
<div class="todo-list" ngxDroppable [model]="todos" (out)="onDrop($event)" [@animateStagger]="{value:'50'}">
    <saleopportunity-view-list-item class="todo-list-item has-handle"
                                *ngFor="let todo of currentEntity.relatedProducts; let i = index" [entity]="todo" [formGroup]="formItems.controls[i]"
                                ngxDraggable
                                [model]="todo"
                                [ngClass]="{'current-todo':todo?.id == currentTodo?.id}"
                                matRipple
                                [@animate]="{value:'*',params:{y:'100%'}}">
    </saleopportunity-view-list-item>
</div>
