<div id="todo" class="page-layout carded left-sidebar inner-scroll">
    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->
    <!-- SIDEBAR -->
    <fuse-sidebar
        class="sidebar"
        name="todo-main-sidebar"
        position="left"
        lockedOpen="gt-md"
    >
        <todo-main-sidebar
            *ngIf="showProductsSidebar"
            [entity]="currentEntity"
        ></todo-main-sidebar>
        <customer-sidebar
            *ngIf="showCustomerSidebar"
            [entity]="currentEntity"
        ></customer-sidebar>
    </fuse-sidebar>
    <!-- / SIDEBAR -->
    <!-- CENTER -->
    <div class="center">
        <!-- CONTENT HEADER -->
        <div class="header" fxLayout="row" fxLayoutAlign="start center">
            <div
                class="main-fields"
                fxFlex="100%"
                fxLayout="row"
                fxLayoutGap="30px"
                [@animate]="{ value: '*', params: { delay: '300ms' } }"
            >
                <mat-form-field
                    floatLabel="always"
                    appearance="outline"
                    fxFlex="30%"
                >
                    <mat-label>Opportunity</mat-label>
                    <input matInput [value]="currentEntity.name" />
                </mat-form-field>

                <mat-form-field
                    floatLabel="always"
                    appearance="outline"
                    fxFlex="50%"
                >
                    <mat-label>Customer</mat-label>
                    <input matInput [value]="currentEntity.customerName" />
                </mat-form-field>

                <!-- <mat-form-field
                    floatLabel="always"
                    appearance="outline"
                    fxFlex="10%"
                >
                    <mat-label>Target Price</mat-label>
                    <input matInput [value]="currentEntity.targetPrice" />
                </mat-form-field> -->
            </div>

            <div
                class="search-wrapper"
                fxFlex
                fxLayout="row"
                fxLayoutAlign="start center"
            >
                <button
                    mat-icon-button
                    class="sidebar-toggle"
                    fxHide.gt-md
                    (click)="toggleSidebar('todo-main-sidebar')"
                >
                    <mat-icon class="material-icons-outlined">menu</mat-icon>
                </button>

                <!--<div class="search" fxLayout="row" fxLayoutAlign="start center">
            <mat-icon class="secondary-text">search</mat-icon>
            <input [formControl]="searchInput" placeholder="Search for a task" fxFlex>
        </div>-->
            </div>
        </div>
        <!-- / CONTENT HEADER -->
        <!-- CONTENT CARD -->
        <div
            class="content-card"
            [ngClass]="{ 'current-todo-selected': currentTodo }"
        >
            <!-- CONTENT TOOLBAR -->
            <div class="toolbar px-24 py-8">
                <div class="todo-selection"
                     fxFlex="row"
                     fxLayoutAlign="start center">
                    <!--<mat-checkbox (click)="toggleSelectAll()" [checked]="hasSelectedTodos"
                  [indeterminate]="isIndeterminate"></mat-checkbox>

    <button mat-icon-button [matMenuTriggerFor]="selectMenu">
        <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #selectMenu="matMenu">
        <button mat-menu-item (click)="selectTodos()">All</button>
        <button mat-menu-item (click)="deselectTodos()">None</button>
        <button mat-menu-item (click)="selectTodos('read', true)">Read</button>
        <button mat-menu-item (click)="selectTodos('read', false)">Unread</button>
        <button mat-menu-item (click)="selectTodos('starred', true)">Starred</button>
        <button mat-menu-item (click)="selectTodos('starred', false)">Unstarred</button>
        <button mat-menu-item (click)="selectTodos('important', true)">Important</button>
        <button mat-menu-item (click)="selectTodos('important', false)">Unimportant</button>
    </mat-menu>

    <div class="toolbar-separator" *ngIf="hasSelectedTodos"></div>

    <button mat-icon-button [matMenuTriggerFor]="labelMenu" *ngIf="hasSelectedTodos">
        <mat-icon class="secondary-text">label</mat-icon>
    </button>
    <mat-menu #labelMenu="matMenu">
        <button mat-menu-item *ngFor="let tag of tags" (click)="toggleTagOnSelectedTodos(tag.id)">
            {{tag.title}}
        </button>
    </mat-menu>-->

                    <button *ngIf="activeArea == 'settings'"
                            mat-icon-button
                            (click)="setActiveArea('products')">
                        <mat-icon class="material-icons-outlined">format_list_numbered</mat-icon>
                    </button>
                    <button *ngIf="activeArea != 'settings'"
                            mat-icon-button
                            (click)="setActiveArea('settings')"
                            matTooltip="Products quote info"
                            [attr.aria-label]="'Products quote info'">
                        <mat-icon class="material-icons-outlined">settings</mat-icon>
                    </button>

                    <div class="toolbar-separator"></div>

                    <button mat-icon-button
                            (click)="showCustomerSidebar = !showCustomerSidebar"
                            matTooltip="Customer Info"
                            [attr.aria-label]="
                            'Display Customer Info (' +
                            currentEntity.customerName +
                            ')'
                        ">
                        <mat-icon [ngClass]="{'material-icons-outlined': !showCustomerSidebar}">person</mat-icon>
                    </button>

                    <div class="toolbar-separator"></div>

                    <span class="font-size-20 mr-16">TARGET PRICE</span>
                    <mat-form-field>
                        <mat-select [(ngModel)]="currentTargetPrice">
                            <mat-option *ngFor="let targetPrice of currentEntity.targetPrices"
                                        [value]="targetPrice">
                                {{
                                    targetPrice.displayName
                                }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <!--<a mat-icon-button
       [routerLink]="[]" [queryParams]="{newtargetprice: true}" queryParamsHandling="merge"
       matTooltip="New Target Price"
       [attr.aria-label]="'New Target Price'">
        <mat-icon>add</mat-icon>
    </a>-->

                    <button [disabled]="!currentEntity"
                            mat-icon-button
                            (click)="setActiveDetailArea('TargetPrices')"
                            matTooltip="Target Prices"
                            [attr.aria-label]="'View Target Prices'">
                        <mat-icon class="material-icons-outlined">visibility</mat-icon>
                    </button>


                    <div class="toolbar-separator"></div>

                    <span class="font-size-20 mr-16">BOUQUET</span>
                    <!--<pre>
{{currentTargetPriceProduct | json}}
</pre>-->
                    <mat-form-field>
                        <mat-select [(ngModel)]="currentTargetPriceProduct">
                            <mat-option *ngFor="
                                    let targetPriceProduct of currentTargetPrice &&
                                        currentTargetPrice.saleOpportunityTargetPriceProducts
                                "
                                        [value]="targetPriceProduct">
                                {{
                                    targetPriceProduct.productName ||
                                        targetPriceProduct.order
                                }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <!--{{currentTargetPrice}}-->
                    <button [disabled]="!currentTargetPrice"
                            mat-icon-button
                            (click)="openSampleBoxProductDialog()"
                            matTooltip="New Bouquet"
                            [attr.aria-label]="'New Bouquet'">
                        <mat-icon class="material-icons-outlined">add</mat-icon>
                    </button>

                    <!--<button mat-icon-button
            (click)="showCustomerSidebar = !showCustomerSidebar"
            matTooltip="Copy Bouquet"
            [attr.aria-label]="'Copy Bouquet'">
        <mat-icon>file_copy</mat-icon>
    </button>-->
                    <!--<button mat-icon-button
            (click)="showCustomerSidebar = !showCustomerSidebar"
            matTooltip="Move to Another Sample Box"
            [attr.aria-label]="'Move to Another Sample Box'">
        <mat-icon>arrow_forward</mat-icon>
    </button>-->

                    <!--<div class="toolbar-separator"></div>
                    <span class="font-size-20 mr-16">BOX</span>
                    <mat-form-field>
                        <mat-select [(ngModel)]="currentSampleBox">
                            <option label="--select something --"></option>
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let box of currentEntity.sampleBoxes"
                                        [value]="box">
                                {{ box.name || box.order }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <button mat-icon-button
                            (click)="addSampleBox()"
                            matTooltip="New Sample Box"
                            [attr.aria-label]="'New Sample Box'">
                        <mat-icon class="material-icons-outlined">add</mat-icon>
                    </button>

                    <button mat-icon-button
                            (click)="showCustomerSidebar = !showCustomerSidebar"
                            matTooltip="Copy Sample Box"
                            [attr.aria-label]="'Copy Sample Box'">
                        <mat-icon class="material-icons-outlined">file_copy</mat-icon>
                    </button>

                    <button [disabled]="!currentEntity"
                            mat-icon-button
                            (click)="setActiveDetailArea('SampleBoxes')"
                            matTooltip="View Sample Boxes"
                            [attr.aria-label]="'View Sample Boxes'">
                        <mat-icon class="material-icons-outlined">visibility</mat-icon>
                    </button>-->
                </div>

                <!-- <div fxFlexAlign="end center">
                    <button mat-icon-button (click)="setActiveArea('products')">
                        <mat-icon class="font-size-40"
                            >power_settings_new</mat-icon
                        >
                    </button>
                </div> -->

                <div *ngIf="currentTodo" fxHide.gt-lg>
                    <button mat-icon-button (click)="deselectCurrentTodo()">
                        <mat-icon class="secondary-text">arrow_back</mat-icon>
                    </button>
                </div>
            </div>
            <!-- / CONTENT TOOLBAR -->
            <!-- CONTENT -->
            <div class="content" fxFlexAlign="row">
                <ng-container *ngIf="activeArea != 'settings'">
                    <ng-container [ngSwitch]="activeDetailArea">
                        <saleopportunity-view-list-targetpriceproducts *ngSwitchCase="'TargetPrices'" [entity]="currentEntity"
                                                                       [formItems]="frmCurrentTargetPrice && frmCurrentTargetPrice.controls['products']"
                                                                       fusePerfectScrollbar
                                                                       fxFlex></saleopportunity-view-list-targetpriceproducts>

                        <saleopportunity-view-list-targetpricesubproducts *ngSwitchCase="'TargetPriceProduct'" [entity]="currentEntity"
                                                                    [formItems]="frmCurrentTargetPriceProduct && frmCurrentTargetPriceProduct.controls['products']"
                                                                    fusePerfectScrollbar
                                                                    fxFlex></saleopportunity-view-list-targetpricesubproducts>

                        <saleopportunity-view-list *ngSwitchDefault [entity]="currentEntity"
                                                   [formItems]="frmSampleBoxProductItems"
                                                   fusePerfectScrollbar
                                                   fxFlex></saleopportunity-view-list>


                    </ng-container>
                    



                    <ng-container *ngIf="activeDetailArea == 'ItemDetails'">
                        <saleopportunity-view-details [entity]="currentEntity"
                                                      fusePerfectScrollbar
                                                      fxFlex></saleopportunity-view-details>
                    </ng-container>
                    <ng-container *ngIf="activeDetailArea == 'SampleBoxes'">
                        <saleopportunity-view-sampleboxes [entity]="currentEntity"
                                                          fusePerfectScrollbar
                                                          fxFlex></saleopportunity-view-sampleboxes>
                    </ng-container>
                    <ng-container *ngIf="activeDetailArea == 'TargetPrices'">
                        <saleopportunity-view-targetprices [entity]="currentEntity"
                                                           fusePerfectScrollbar
                                                           fxFlex></saleopportunity-view-targetprices>
                    </ng-container>
                </ng-container>

                <saleopportunity-view-settings
                    *ngIf="activeArea == 'settings'"
                    [entity]="currentEntity"
                    fusePerfectScrollbar
                    fxFlex
                ></saleopportunity-view-settings>
            </div>
            <!-- / CONTENT -->
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
