saleopportunity-view-settings {
    display: flex;
    flex: 1 0 100%;
    position: relative;
    padding: 0;
    border-right: 1px solid;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    .fields{
        padding: 20px;
        align-items:flex-start;
        align-content:flex-start;
    }

    .no-todos-text {
        font-size: 24px;
        font-weight: 300;
    }
}
