<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DomainModel" connectionString="Data Source=(local)\\SQLEXPRESS;Initial Catalog=riverdale;Integrated Security=SSPI;Persist Security Info=False;MultipleActiveResultSets=True;Application Name=Riverdale2.0" />

    <!-- Generate Script from specific migration: Usefull to move to Test Environment
    Script-Migration -From "Last Executes Migration"-->

    <!--
    Remove last but not applied migration
    Remove-Migration-->
    
    <!--Rollback Applied Migrations
    Update-Database "Migration to Rollback to"
    -->

    <!--No longer supported: Update-Database  -ProjectName 'DomainDatabaseMigrations' -StartUpProjectName 'DomainDatabaseMigrations' -ConnectionStringName 'DomainModel_QA'-->
    <!--<add name="DomainModel_QA" connectionString="Data Source=198.38.92.253;Initial Catalog=neninger_riverdaletest;persist security info=True;user id=neninger_riverdaletest;password=riverdaletest1;MultipleActiveResultSets=True;Application Name=Riverdale2.0" />-->
  </connectionStrings>
  
</configuration>