<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DomainModel" connectionString="Data Source=(local)\\SQLEXPRESS;Initial Catalog=riverdale;Integrated Security=SSPI;Persist Security Info=False;MultipleActiveResultSets=True;Application Name=Riverdale2.0" />
    
    <add name="DomainModel_QA" connectionString="Data Source=198.38.92.253;Initial Catalog=riverdale_qa;User Id=riverdale_user;Password=k9d&amp;T.{xTaYp;MultipleActiveResultSets=True;Application Name=Riverdale2.0" />
  </connectionStrings>
  
</configuration>