<!-- SIDEBAR HEADER -->
<div
    fxLayout="column"
    fxLayoutAlign="space-between start"
    class="header accent p-24 pb-4"
>
    <div class="logo" fxFlex fxLayout="row" fxLayoutAlign="start center">
        <mat-icon
            class="logo-icon s-32"
            [@animate]="{ value: '*', params: { delay: '50ms', scale: '0.2' } }"
        >
            shopping_basket
        </mat-icon>
        <span
            class="logo-text"
            [@animate]="{ value: '*', params: { delay: '100ms', x: '-25px' } }"
            >Opportunity</span
        >
    </div>

    <div
        class="account"
        fxLayout="column"
        [@animate]="{ value: '*', params: { delay: '300ms' } }"
    >
        <div class="title">{{ currentEntity.name }}</div>
        <mat-form-field floatLabel="never" style="visibility: hidden">
            <mat-select
                class="account-selection"
                placeholder="Todo Selection"
                [ngModel]="selectedAccount"
            >
                <mat-option
                    *ngFor="let account of (accounts | keys)"
                    [value]="account.key"
                >
                    {{ account.value }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>
<!-- / SIDEBAR HEADER -->

<!-- SIDEBAR CONTENT -->
<div
    class="content"
    fusePerfectScrollbar
    [@animate]="{ value: '*', params: { y: '50px' } }"
>
    <div class="p-8">
        <div class="nav material2">
            <div class="nav-item">
                <a
                    class="nav-link"
                    matRipple
                    [routerLink]="'/apps/todo/all'"
                    [routerLinkActive]="['active', 'accent']"
                >
                    <mat-icon class="nav-link-icon">view_headline</mat-icon>
                    <span>All</span>
                </a>
            </div>
            <div class="nav-item">
                <a
                    class="nav-link"
                    matRipple
                    [routerLink]="'/apps/todo/all'"
                    [routerLinkActive]="['active', 'accent']"
                >
                    <mat-icon class="nav-link-icon">view_headline</mat-icon>
                    <span>Info</span>
                </a>
            </div>
            <div class="nav-item">
                <a
                    class="nav-link"
                    matRipple
                    [routerLink]="'/apps/todo/all'"
                    [routerLinkActive]="['active', 'accent']"
                >
                    <mat-icon class="nav-link-icon">view_headline</mat-icon>
                    <span>Settings</span>
                </a>
            </div>

            <ng-container *ngIf="customer">
                <ng-container *ngIf="showCustomerInfo">
                    <div class="nav-subheader">INFO</div>

                    <div fxLayout="column">
                        <mat-form-field class="example-full-width">
                            <input
                                matInput
                                placeholder="Name"
                                value="{{ customer.name }}"
                            />
                        </mat-form-field>
                    </div>
                </ng-container>

                <ng-container *ngIf="showCustomerSettings">
                    <div class="nav-subheader">SETTINGS</div>

                    <div fxLayout="column">
                        <mat-checkbox
                            disabled="disabled"
                            [checked]="customer.customerSettings.defaultIsWet"
                            >Is Wet</mat-checkbox
                        >
                        <mat-checkbox
                            disabled="disabled"
                            [checked]="customer.customerSettings.defaultIsDeliver"
                            >Deliver</mat-checkbox
                        >
                        <mat-checkbox
                            disabled="disabled"
                            [checked]="customer.customerSettings.defaultDuty"
                            >Duty</mat-checkbox
                        >

                        <mat-form-field class="example-full-width">
                            <input
                                matInput
                                placeholder="Rebate"
                                [value]="customer.customerSettings.defaultRebate"
                            />
                        </mat-form-field>
                    </div>
                </ng-container>
            </ng-container>
        </div>
    </div>
    <!-- / SIDEBAR CONTENT -->
</div>
