<div fxLayout="row" fxLayoutAlign="start center" [formGroup]="formGroup">
    <mat-icon class="handle mr-16" ngxDragHandle fxFlex="0 1 auto" fxHide.xs>
        drag_handle
    </mat-icon>
    <mat-checkbox formControlName="selected" (ngModelChange)="onSelectedChange()" class="mr-16" fxFlex="0 1 auto"
        (click)="$event.stopPropagation()">
    </mat-checkbox>
    <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex>
        <div>
            <div class="avatar">
                <img class="avatar mr-0 mr-sm-16"
                    [src]="(currentEntity.productPictureId | fileUrl:'assets/images/avatars/product1.png':false | async)">
            </div>
            <div class="info" fxFlex="100%" fxLayout="column">
                <div class="title">
                    {{currentEntity.productName}}
                </div>
                <div class="notes" fxFlex fxLayout="column">
                    <span>{{currentEntity.productTypeName}}</span>
                    <section fxLayoutGap="20px" fxLayout="row wrap"  class="font-size-10">
                        <span>
                            <strong class="bold">original opportunity:</strong> {{currentEntity.firstOpportunityName}}
                        </span>
                        <span>
                            <strong class="bold">Part of <abbr  class="mark">{{currentEntity.opportunityCount}}</abbr> opportunities</strong>
                        </span>
                    </section>
                </div>
            </div>
        </div>

        <div class="actions" fxLayout="row" fxLayoutAlign="start center" fxFlex="40px" fxLayoutGap="20px">
            
            <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More" (click)="$event.stopPropagation()"
                fxHide.xs>
                <mat-icon class="secondary-text">more_vert</mat-icon>
            </button>
            <mat-menu #moreMenu="matMenu">

                <button mat-menu-item aria-label="toggle important" (click)="selectTargetPriceProduct($event)"
                    (click)="updateItem()" [disabled]="currentEntity.editable">
                    <mat-icon>edit</mat-icon>
                    <span>Edit</span>
                </button>
                <button mat-menu-item aria-label="toggle done" (click)="deleteTargetPriceProduct($event)">
                    <mat-icon>delete</mat-icon>
                    <span>Remove</span>

                </button>
            </mat-menu>
        </div>
    </div>
</div>