<h1 mat-dialog-title>New Product Category</h1>
<div mat-dialog-content [formGroup]="frmMain">
    <mat-form-field>
        <input matInput formControlName="id" placeholder="Id">
    </mat-form-field>
    <mat-form-field>
        <input matInput formControlName="name" placeholder="Name">
    </mat-form-field>
    
</div>
<div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="cancel" cdkFocusInitial>Cancel</button>
    <button mat-button (click)="create()">Create</button>
    <button mat-button (click)="createEdit()">Create And Edit</button>
</div>
