<div *ngIf="listOfSubItems && listOfSubItems.length === 0" fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
    <span class="no-todos-text hint-text">Composition has no items!</span>
</div>

<div fxFlex fxLayout="column">
    <div class="list-header" fxFlex="0 1 10%" fxLayout="row" fxFlex fxLayoutAlign="space-between center" [ngClass]="{'editing': status == 'editing'}">

        <ng-container [ngSwitch]="status">
            <ng-container *ngSwitchCase="null">
                <div fxFlex fxLayoutAlign="start center" fxLayoutGap="20px">
                    <span  fxFlex fxLayoutGap="10px">
                        <strong fxFlex="1 0 1%" class="font-size-16">Name:</strong>
                        <span fxFlex="1 1 100%" class="font-size-16">{{currentTargetPriceProduct.productName}}</span>
                    </span>

                    <span  fxFlex fxLayoutGap="10px">
                        <strong fxFlex="1 0 1%" class="font-size-16">Color:</strong>
                        <span fxFlex="1 1 100%" class="font-size-16">{{(colorType | async)?.value || 'No color selected'}}</span>
                    </span>

                    <div fxFlex="40px">
                        <button mat-icon-button class="secondary-text" (click)="status = 'editing'">
                            <mat-icon class="material-icons-outlined">create</mat-icon>
                        </button>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngSwitchCase="'editing'">
                <div [formGroup]="frmMain" class="actions" fxFlex fxLayout="row" fxLayoutAlign="start center"
                    fxLayoutGap="20px">

                    <mat-form-field floatLabel="always" appearance="outline" fxFlex>
                        <mat-label>Name</mat-label>
                        <input matInput formControlName="productName">
                    </mat-form-field>

                    <mat-form-field floatLabel="always" appearance="outline" fxFlex="1 0 150px">
                        <mat-label>Color</mat-label>
                        <mat-select name="colorTypeId" formControlName="productColorTypeId" fxFlex="0 0 100%">
                            <mat-option *ngFor="let item of listProductColorType$ | async" [value]="item.key">
                                {{item.value}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <div fxFlex="100px" fxLayoutGap="20px">
                        <button mat-icon-button (click)="status = null" aria-label="Cancel">
                            <mat-icon>clear</mat-icon>
                        </button>
                        <button mat-icon-button color="primary"
                            (click)="updateTargetPriceProduct()" [disabled]="frmMain.invalid || frmMain.prestine">
                            <mat-icon class="material-icons-outlined">check</mat-icon>
                        </button>
                    </div>
                </div>
            </ng-container>
        </ng-container>


    </div>

    <div class="todo-list" fxFlex="1 1 100%" ngxDroppable [model]="todos" (out)="onDrop($event)" [@animateStagger]="{value:'50'}">


        <div fuseScrollBar fxFlex>
            <saleopportunity-view-list-item-targetpricesubproduct class="todo-list-item has-handle"
                *ngFor="let subItem of listOfSubItems; let i = index" [entity]="subItem"
                [formGroup]="formItems.controls[i]" ngxDraggable [model]="subItem"
                [ngClass]="{'current-todo':subItem?.id == currentTodo?.id}" matRipple
                [@animate]="{value:'*',params:{y:'100%'}}">
            </saleopportunity-view-list-item-targetpricesubproduct>
        </div>
    </div>
</div>