<div *ngIf="listOfSubItems && listOfSubItems.length === 0" fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
    <span class="no-todos-text hint-text">Composition has no items!</span>
</div>
<div class="todo-list" ngxDroppable [model]="todos" (out)="onDrop($event)" [@animateStagger]="{value:'50'}">
    <saleopportunity-view-list-item-targetpricesubproduct class="todo-list-item has-handle"
                                *ngFor="let subItem of listOfSubItems; let i = index" 
                                [entity]="subItem" 
                                [formGroup]="formItems.controls[i]"
                                ngxDraggable
                                [model]="subItem"
                                [ngClass]="{'current-todo':subItem?.id == currentTodo?.id}"
                                matRipple
                                [@animate]="{value:'*',params:{y:'100%'}}">
    </saleopportunity-view-list-item-targetpricesubproduct>
</div>
