<!-- Contact Section start -->
<section id="donation" class="donation">
  <div class="contact-decor">
    <div class="contact-circle1"><img src="assets/images/main-banner12.png" alt=""></div>
    <div class="contact-circle2"><img src="assets/images/main-banner1.png" alt=""></div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-8 col-sm-12">
        <div class="donation-content">
          <div class="w-100">
            <h2 class="title">
              <span>Donation </span>information
              <ng-container [ngSwitch]="status">
                <span *ngSwitchCase="'sending'"> - Sending</span>
                <span *ngSwitchCase="'success'"> - Success. We appreciate your support</span>
                <span *ngSwitchCase="'error'"> - Error</span>
              </ng-container>
            </h2>
            <form novalidate [formGroup]="frmStripeCard">
              <input type="text" name="name" formControlName="name" placeholder="Name on card" class="form-control" autocomplete="off" required="required">
              <div id="card-element" class="field"></div>

              <div class="values-wrapper">
                <button type="button" (click)="buy(1)" [disabled]="!frmStripeCard.valid" class="btn btn-custom theme-color">$ 1</button>
                <button type="button" (click)="buy(5)" [disabled]="!frmStripeCard.valid" class="btn btn-custom theme-color">$ 5</button>
                <button type="button" (click)="buy(10)" [disabled]="!frmStripeCard.valid" class="btn btn-custom theme-color">$ 10</button>
                <button type="button" (click)="buy(15)" [disabled]="!frmStripeCard.valid" class="btn btn-custom theme-color">$ 15</button>
                <button type="button" (click)="buy(20)" [disabled]="!frmStripeCard.valid" class="btn btn-custom theme-color">$ 20</button>
                <button type="button" (click)="buy(25)" [disabled]="!frmStripeCard.valid" class="btn btn-custom theme-color">$ 25</button>
              </div>
              <!--<button type="submit">
                BUY
              </button>-->
            </form>

            <form novalidate [formGroup]="frmStripeIdealBank">
              <div id="idealbank-element" class="field"></div>
            </form>

            <!-- <mr-ngx-plaid-link-button env="sandbox" publicKey="f2697b9b441211ed4ee92df3850108" institution="" (Success)="onPlaidSuccess($event)"
  (Exit)="onPlaidExit($event)" (Load)="onPlaidLoad($event)" (Event)="onPlaidEvent($event)" className="launch-plaid-link-button"
  buttonText="Link Your Bank Account" (Click)="onPlaidClick($event)"></mr-ngx-plaid-link-button> -->

          </div>
        </div>
      </div>
      <div class="col-lg-4 d-medium-none-lg">
        <div class="contact-right">
          <img src="assets/images/Contact-info.png" class="img-fluid" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Contact Section End -->
