<div id="userRole" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->
    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/apps/userRoles'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div class="product-image mr-8 mr-sm-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                        person
                    </mat-icon>
                    <!--<img *ngIf="currentEntity.images && currentEntity.images[0]; else noImage " [src]="currentEntity.images[0].url">
                    <ng-template #noImage>
                        <img [src]="'assets/images/ecommerce/product-image-placeholder.png'">
                    </ng-template>-->
                </div>

                <div fxLayout="column" fxLayoutAlign="start start"
                     [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType ==='edit'">
                        {{currentEntity.name}}
                    </div>
                    <div class="h2" *ngIf="pageType ==='new'">
                        New UserRole
                    </div>
                    <div class="subtitle secondary-text">
                        <span>UserRole Detail</span>
                    </div>
                </div>
            </div>

            <!-- / APP TITLE -->
            <div class="save-product-button" fxLayoutGap="20px">
                <button mat-mini-fab (click)="delete()" color="warn">
                    <mat-icon>delete</mat-icon>
                </button>
                <!--<button mat-raised-button
                        [disabled]="frmMain.invalid"
                        *ngIf="pageType ==='new'" (click)="add()">
                    <span>ADD</span>
                </button>-->
                <button mat-mini-fab
                        class="save-product-button"
                        [disabled]="disableSave()"
                        (click)="save()">
                    <mat-icon>save</mat-icon>

                    <!--<span>SAVE</span>-->
                </button>
            </div>

            <!--<button mat-raised-button
                    class="save-product-button"
                    [disabled]="frmMain.invalid || frmMain.pristine"
                    *ngIf="pageType ==='edit'" (click)="save()">
                <span>SAVE</span>
            </button>-->
        </div>
        <!-- / HEADER -->
        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">

                <form name="frmMain" class="product w-100-p" fxLayout="column" fxFlex>

                    <mat-tab-group>

                        <mat-tab label="Basic Info">

                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <div [formGroup]="frmMain">
                                    <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                        <mat-label>Name</mat-label>
                                        <input matInput placeholder="Name"
                                               name="name"
                                               formControlName="name"
                                               required>
                                    </mat-form-field>
                                </div>

                                <div class="fuse-card auto-width">
                                    <div class="position-relative p-24">
                                        <div fxLayoutAlign="space-between">
                                            <div fxFlex="1 1 40%" fxLayout="column" fxLayoutAlign="start stretch">
                                                <div class="p-16 pt-0">
                                                    <div class="h1">Permissions</div>
                                                    <div class="h4 secondary-text">Role Permissions</div>
                                                </div>

                                                <div fxLayout="row" fxLayoutAlign="start stretch">
                                                    <mat-table class="rolepermission-table"
                                                               #tableRolePermission [dataSource]="rolePermissions"
                                                               matSort
                                                               [@animateStagger]="{value:'50'}"
                                                               fusePerfectScrollbar
                                                               fxFlex>

                                                        <ng-container matColumnDef="options">
                                                            <mat-header-cell *matHeaderCellDef>
                                                                <button mat-icon-button (click)="newRolePermissionItem()" [style.visibility]="rolePermissions.length == 0 ? 'visible' : 'hidden'">
                                                                    <mat-icon>add_circle_outline</mat-icon>
                                                                </button>
                                                            </mat-header-cell>
                                                            <mat-cell *matCellDef="let item; let i = index;" (click)="$event.stopPropagation()">
                                                                <ng-container [ngSwitch]="selectedRolePermissionItem == item">
                                                                    <ng-container *ngSwitchCase="true">
                                                                        <button type="button" mat-icon-button color="primary" (click)="saveRolePermissionItem()">
                                                                            <mat-icon>save</mat-icon>
                                                                        </button>
                                                                        <!--<button type="button" mat-icon-button (click)="cancelRolePermissionItemEdition()">
                                                                            <mat-icon>delete</mat-icon>
                                                                        </button>-->
                                                                    </ng-container>
                                                                    <ng-container *ngSwitchDefault>
                                                                        <!--<button type="button" mat-icon-button (click)="selectRolePermissionItem(item)">
                                                                            <mat-icon>edit</mat-icon>
                                                                        </button>-->
                                                                        <button type="button" mat-icon-button (click)="newRolePermissionItem()" [style.visibility]="i == rolePermissions.length-1 ? 'visible' : 'hidden'">
                                                                            <mat-icon>add_circle_outline</mat-icon>
                                                                        </button>
                                                                        <button type="button" color="warn" mat-icon-button (click)="deleteRolePermissionItemEdition(item)">
                                                                            <mat-icon>delete</mat-icon>
                                                                        </button>
                                                                    </ng-container>
                                                                </ng-container>
                                                            </mat-cell>
                                                        </ng-container>

                                                        <!-- Name Column -->
                                                        <ng-container matColumnDef="permissionId">
                                                            <mat-header-cell *matHeaderCellDef mat-sort-header>Permission</mat-header-cell>
                                                            <mat-cell *matCellDef="let item">
                                                                <ng-container [ngSwitch]="selectedRolePermissionItem == item">

                                                                    <ng-container *ngSwitchCase="true">
                                                                        <mat-form-field floatLabel="never">
                                                                            <mat-select placeholder="Permission" name="permissionId" [(value)]="item.permissionId" [(ngModel)]="item.permissionId">
                                                                                <mat-option *ngFor="let item of listPermission" [value]="item.key">
                                                                                    {{item.value}}
                                                                                </mat-option>
                                                                            </mat-select>
                                                                        </mat-form-field>
                                                                    </ng-container>
                                                                    <ng-container *ngSwitchDefault>
                                                                        <p class="text-truncate">{{getPermission(item.permissionId).value}}</p>
                                                                    </ng-container>
                                                                </ng-container>

                                                            </mat-cell>
                                                        </ng-container>

                                                        <mat-header-row *matHeaderRowDef="displayedColumnsRolePermissions; sticky:true"></mat-header-row>
                                                        <mat-row *matRowDef="let item; columns: displayedColumnsRolePermissions;"
                                                                 class="product-color"
                                                                 matRipple>
                                                        </mat-row>
                                                    </mat-table>
                                                </div>
                                                <!--<mat-paginator #paginator
                                                               [length]="dataSource.filteredCount"
                                                               [pageIndex]="0"
                                                               [pageSize]="10"
                                                               [pageSizeOptions]="[5, 10, 25, 100]">
                                                </mat-paginator>-->
                                            </div>

                                            <div fxFlex="1 1 40%" fxLayout="column" fxLayoutAlign="start stretch">
                                                <div class="p-16 pt-0">
                                                    <div class="h1">Users</div>
                                                    <div class="h4 secondary-text">Role Users</div>
                                                </div>

                                                <div fxLayout="row" fxLayoutAlign="start stretch">
                                                    <mat-table class="roleuser-table"
                                                               #tableRoleUser [dataSource]="roleUsers"
                                                               matSort
                                                               [@animateStagger]="{value:'50'}"
                                                               fusePerfectScrollbar
                                                               fxFlex>

                                                        <ng-container matColumnDef="options">
                                                            <mat-header-cell *matHeaderCellDef>
                                                                <button mat-icon-button (click)="newRoleUserItem()" [style.visibility]="roleUsers.length == 0 ? 'visible' : 'hidden'">
                                                                    <mat-icon>add_circle_outline</mat-icon>
                                                                </button>
                                                            </mat-header-cell>
                                                            <mat-cell *matCellDef="let item; let i = index;" (click)="$event.stopPropagation()">
                                                                <ng-container [ngSwitch]="selectedRoleUserItem == item">
                                                                    <ng-container *ngSwitchCase="true">
                                                                        <button type="button" mat-icon-button color="primary" (click)="saveRoleUserItem()">
                                                                            <mat-icon>save</mat-icon>
                                                                        </button>
                                                                        <!--<button type="button" mat-icon-button (click)="cancelRoleUserItemEdition()">
                                                                            <mat-icon>delete</mat-icon>
                                                                        </button>-->
                                                                    </ng-container>
                                                                    <ng-container *ngSwitchDefault>
                                                                        <!--<button type="button" mat-icon-button (click)="selectRoleUserItem(item)">
                                                                            <mat-icon>edit</mat-icon>
                                                                        </button>-->
                                                                        <button type="button" mat-icon-button (click)="newRoleUserItem()" [style.visibility]="i == roleUsers.length-1 ? 'visible' : 'hidden'">
                                                                            <mat-icon>add_circle_outline</mat-icon>
                                                                        </button>
                                                                        <button type="button" color="warn" mat-icon-button (click)="deleteRoleUserItemEdition(item)">
                                                                            <mat-icon>delete</mat-icon>
                                                                        </button>
                                                                    </ng-container>
                                                                </ng-container>
                                                            </mat-cell>
                                                        </ng-container>

                                                        <!-- Name Column -->
                                                        <ng-container matColumnDef="userId">
                                                            <mat-header-cell *matHeaderCellDef mat-sort-header>User</mat-header-cell>
                                                            <mat-cell *matCellDef="let item">
                                                                <ng-container [ngSwitch]="selectedRoleUserItem == item">

                                                                    <ng-container *ngSwitchCase="true">
                                                                        <mat-form-field floatLabel="never">
                                                                            <mat-select placeholder="User" name="userId" [(value)]="item.userId" [(ngModel)]="item.userId">
                                                                                <mat-option *ngFor="let item of listUser" [value]="item.key">
                                                                                    {{item.value}}
                                                                                </mat-option>
                                                                            </mat-select>
                                                                        </mat-form-field>
                                                                    </ng-container>
                                                                    <ng-container *ngSwitchDefault>
                                                                        <p class="text-truncate">{{getUser(item.userId).value}}</p>
                                                                    </ng-container>
                                                                </ng-container>

                                                            </mat-cell>
                                                        </ng-container>

                                                        <mat-header-row *matHeaderRowDef="displayedColumnsRoleUsers; sticky:true"></mat-header-row>
                                                        <mat-row *matRowDef="let item; columns: displayedColumnsRoleUsers;"
                                                                 class="product-color"
                                                                 matRipple>
                                                        </mat-row>
                                                    </mat-table>
                                                </div>
                                                <!--<mat-paginator #paginator
                                                               [length]="dataSource.filteredCount"
                                                               [pageIndex]="0"
                                                               [pageSize]="10"
                                                               [pageSizeOptions]="[5, 10, 25, 100]">
                                                </mat-paginator>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </mat-tab>


                    </mat-tab-group>
                    <!--<div class="p-24">
                        <div class="fuse-card auto-width position-relative p-24 red-100-bg" color="warn" fxLayout="row" fxLayoutAlign="center start">
                            <button mat-button (click)="delete()" color="primary">
                                <mat-icon color="danger">close</mat-icon>
                                Delete
                            </button>
                        </div>
                    </div>-->

                </form>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
