<h1 mat-dialog-title>New Product Color</h1>
<div mat-dialog-content [formGroup]="frmMain">
    <mat-form-field>
        <input matInput cdkFocusInitial formControlName="id" placeholder="Code">
    </mat-form-field>
    <mat-form-field>
        <input matInput formControlName="name" placeholder="Name">
    </mat-form-field>
    <mat-form-field>
        <input matInput formControlName="hexCode" placeholder="Hex">
    </mat-form-field>

    <mat-checkbox formControlName="isBasicColor">Is basic color</mat-checkbox>
</div>
<div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="cancel" cdkFocusInitial>Cancel</button>
    <button mat-button (click)="create()">Create</button>
    <button mat-button (click)="createEdit()">Create And Edit</button>
</div>
