<div fxLayout="row" fxLayoutAlign="start center" [formGroup]="formGroup">
    <mat-icon class="handle mr-16" ngxDragHandle fxFlex="0 1 auto" fxHide.xs>
        drag_handle
    </mat-icon>
    <mat-checkbox formControlName="selected" (ngModelChange)="onSelectedChange()"
                  class="mr-16" fxFlex="0 1 auto" (click)="$event.stopPropagation()">
    </mat-checkbox>
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex>
        <div class="avatar">
            <img class="avatar mr-0 mr-sm-16" [src]="(currentEntity.relatedProductPictureId | fileUrl:'assets/images/avatars/product1.png':false | async)">
        </div>
        <!--{{currentEntity | json}}-->
        <session fxLayout="column" fxLayout-gt-lg="row">
            <div class="info" fxFlex fxFlexLayout="column">

                <div class="title">
                    {{currentEntity.relatedProductName}}
                </div>
                <div class="notes">
                    {{currentEntity.relatedProductTypeName}}
                </div>
                <!--<div class="tags" fxLayout="row wrap" fxLayoutAlign="start center">

            <div class="tag" fxLayout="row" fxLayoutAlign="start center" *ngFor="let tagId of currentEntity.tags">
                <div class="tag-color" [ngStyle]="{'background-color': tags | getById:tagId:'color'}"></div>
                <div class="tag-label">{{tags | getById:tagId:'title'}}</div>
            </div>

        </div>-->
            </div>
            <!--{{formGroup.value | json}}-->
            <div class="actions" fxLayout="row" fxFlexAlign="end center" fxLayoutAlign="start center" fxFlex fxLayoutGap="3px">
                <div class="option">
                    <mat-form-field floatLabel="always" appearance="outline" fxFlex="60px">
                        <mat-label>{{(currentEntity.relatedProductTypeId == 'FLW' ? 'Stems' : ((currentEntity.relatedProductTypeId == 'COMP') ? 'Amount' : ((currentEntity.relatedProductTypeId == 'HARD') ? 'Amount' : 'N/A')))}}</mat-label>
                        <input matInput formControlName="relatedProductAmount">
                    </mat-form-field>
                </div>

                <div class="option" [style.visibility]="currentEntity.relatedProductTypeId == 'COMP' ? 'hidden' : 'visible'" fxFlex="0 0 140px">
                    <mat-form-field floatLabel="always" appearance="outline" fxFlex="0 0 100%">
                        <mat-label>Color</mat-label>
                        <mat-select name="colorTypeId" formControlName="colorTypeId" fxFlex="0 0 100%">
                            <mat-option *ngFor="let item of listProductColorType$ | async" [value]="item.key" [disabled]="!isAllowedColorType(item.key)">
                                {{item.value}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="option" [style.visibility]="currentEntity.relatedProductTypeId == 'COMP' ? 'hidden' : 'visible'" fxFlex="0 0 140px">

                    <mat-form-field floatLabel="always" appearance="outline" fxFlex="0 0 100%">
                        <mat-label>Grade</mat-label>
                        <mat-select name="relatedProductSizeId" formControlName="relatedProductSizeId" fxFlex="0 0 100%">
                            <mat-option *ngFor="let item of allowedRelatedProductSizes$ | async" [value]="item.key" [disabled]="!isAllowedColorType(item.key)">
                                {{item.value}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>

                <div class="option" fxFlex="40px">
                    <button mat-mini-fab (click)="updateItem()" [disabled]="formGroup.invalid || formGroup.pristine"
                            aria-label="Save amount">
                        <mat-icon>check</mat-icon>
                    </button>
                </div>
                <!--<button mat-icon-button (click)="toggleImportant($event)"
                aria-label="Toggle important" fxHide.xs>
            <mat-icon class="red-fg" *ngIf="currentEntity.important">error</mat-icon>
            <mat-icon class="secondary-text" *ngIf="!currentEntity.important">error_outline</mat-icon>
        </button>

        <button mat-icon-button (click)="toggleStar($event)"
                aria-label="Toggle star" fxHide.xs>
            <mat-icon class="amber-fg" *ngIf="currentEntity.starred">star</mat-icon>
            <mat-icon class="secondary-text" *ngIf="!currentEntity.starred">star_border</mat-icon>
        </button>

        <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More" (click)="$event.stopPropagation()"
                fxHide.xs>
            <mat-icon class="secondary-text">more_vert</mat-icon>
        </button>-->
                <mat-menu #moreMenu="matMenu">
                    <!--<button mat-menu-item aria-label="toggle done" (click)="toggleCompleted($event)">
                <ng-container *ngIf="currentEntity.completed">
                    <mat-icon>check_box</mat-icon>
                    <span>Mark as undone</span>
                </ng-container>
                <ng-container *ngIf="!currentEntity.completed">
                    <mat-icon>check_box_outline_blank</mat-icon>
                    <span>Mark as done</span>
                </ng-container>
            </button>

            <button mat-menu-item aria-label="toggle important" (click)="toggleImportant($event)">
                <ng-container *ngIf="currentEntity.important">
                    <mat-icon>error</mat-icon>
                    <span>Remove important</span>
                </ng-container>
                <ng-container *ngIf="!currentEntity.important">
                    <mat-icon>error_outline</mat-icon>
                    <span>Mark as important</span>
                </ng-container>
            </button>

            <button mat-menu-item aria-label="toggle star" (click)="toggleStar($event)">
                <ng-container *ngIf="currentEntity.starred">
                    <mat-icon>star</mat-icon>
                    <span>Remove star</span>
                </ng-container>
                <ng-container *ngIf="!currentEntity.starred">
                    <mat-icon>star_border</mat-icon>
                    <span>Add star</span>
                </ng-container>
            </button>-->
                </mat-menu>
            </div>
        </session>
    </div>
</div>
