<h1 mat-dialog-title>New Target Price Product</h1>
<!--<pre>
{{product$ | async | json}}
</pre>-->
<div mat-dialog-content [formGroup]="frmMain">
    <mat-card *ngIf="product$ | async; let product; else loading" class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{product.bag.name}}</mat-card-title>
            <mat-card-subtitle>{{product.bag.productTypeId}}</mat-card-subtitle>
        </mat-card-header>
        <!--<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
        <mat-card-content>
            <!--<p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
            </p>-->
        </mat-card-content>
        <!--<mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>-->
    </mat-card>

    <ng-template loading>
        Loading
    </ng-template>
</div>
<div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="cancel" cdkFocusInitial>Cancel</button>
    <button mat-button (click)="add()" [disabled]="frmMain.invalid">Add</button>
    <!-- <button mat-button (click)="createEdit()" [disabled]="frmMain.invalid">Create And Edit</button> -->
</div>
